* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f2e6dd;
    font-family: Verdana, Geneva, Tahoma, sans-serif, serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
}

.center {
    max-width: 1140px;
    margin: 0 auto;
}

.header,
.content,
.footer {
    width: 100%;
}

.header {
    border-bottom: 3px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Times, 'Times New Roman', serif;
    padding: 20px;
    font-size: 48px;
    font-weight: 800;
}

.header__nav-list,
.header__nav-item,
.header__nav-link {
    height: 100%;
}

.header__nav-list {
    list-style-type: none;
    display: flex;
}

.header__nav-item {
    display: inline-block;
}

.header__nav-link {
    display: flex;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    transition: .4s;
}

.header__nav-link:hover {
    background-color: #e4cbb8;
}

.footer {
    padding: 20px;
    border-top: 3px solid #000;
    text-align: center;
}

.content {
    padding: 20px 0;
}

.categories__link {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    padding: 4px 0;
}